body{
    display: flex   ;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: rgb(15, 18, 18);
    color: rgb(13, 13, 13);
}

.container {
    margin: 0 15px;
}
.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: rgb(159, 163, 164);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(175, 50, 50, 0.773);
     display: none;
}
.form-box.active {
    display:block;
}



h1{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;

}
input,
select{
    width: 100%;
    padding: 12px;
    background: rgb(237, 233, 233);
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: rgb(16, 18, 18);
    margin-bottom: 20px;

}
button{
    width: 100;
    padding: 12px;
    background: rgb(2, 3, 22);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: aliceblue;
    font-weight: 500;
    margin-bottom: 20px;
    transition:0.5s;

}
button :hover{
    background: rgb(66, 66, 181);
}
p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;

}
p a{
    color: rgb(7, 120, 226);
    text-decoration: none;

}
p a:hover{
    text-decoration: underline;
}